.dark{
  background-color: #474343;
  color: white;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.5s, color 0.5s;
   /*плавность смены цвета, шрифта и время*/
  text-align: center;
  padding: 50px;
 
}
#theme{
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
#theme:hover{
  background-color: gray;
  color: white;
}